* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Geneva,
    Tahoma, sans-serif;
}
.first-sec {
  color: white;
  width: 76%;
  height: 510px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background: linear-gradient(#000000, #0000001a),
    url(file:///C:/projects/B9A1-New-Year-New-Mission-main/resources/Banner%20Image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hny {
  padding-top: 200px;
  font-size: 20px;
}
.clb {
  font-size: 45px;
}
.second {
  text-align: center;
  margin-top: 60px;
}
#discount {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  color: red;
}
#holiday {
  color: red;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#category {
  font-size: 40px;
  margin-top: 0;
}
.third {
  color: white;
  width: 76%;
  height: 510px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url(file:///C:/projects/B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.lekha {
  margin-top: 140px;

  text-align: left;
  margin-left: 60px;
}
#twenty {
  margin-top: 40px;
  margin-right: 100px;
  width: 300px;
}
.welcome {
  font-size: 50px;
}
.join {
  background: none;
  color: #ffffff;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
}
.join:hover {
  cursor: pointer;
  background-color: #80808074;
  transition: 0.4s;
  border-radius: 5px;
}
.fourth {
  width: 76%;
  height: 400px;
  border-radius: 15px;
  margin: 50px auto;
  text-align: center;
  background-color: #ffc0cb84;
  background: linear-gradient(#ffc0cb84, white);
}
.red {
  color: red;
}
.date {
  padding-top: 80px;
}
#scndbtn {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#scndbtn:hover {
  background-color: crimson;
  transition: 0.4s;
}
.fifth {
  width: 76%;
  height: 510px;
  margin: 0 auto;
  display: flex;
}
#ellipse {
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 10px solid red;
  border-radius: 50%;
}
.left {
  text-align: left;
  margin: 50px 20px;
}
.newoffer {
  color: red;
}
.comingsoon {
  font-size: 50px;
}
.leftlorem {
  font-size: 20px;
}
.twozero {
  color: red;
  font-size: 50px;
}
.right {
  margin: 20px 40px;
}
.rightlorem {
  font-size: 20px;
}
.sixth {
  width: 76%;
  height: 850px;
  border-radius: 15px;
  margin: 100px auto;
  background-image: url(file:///C:/projects/B9A1-New-Year-New-Mission-main/resources/Rectangle%202.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.functional {
  text-align: center;
  font-size: 25px;
}
#span-1 {
  color: red;
}
.sale {
  text-align: center;
  font-size: 60px;
}
.descrip {
  font-size: 20px;
  text-align: center;
  margin: 0 150px;
}
#gift {
  width: 661px;
  height: 550px;
  margin-top: 40px;
  margin-left: 10px;
}
.images {
  background-image: url(file:///C:/projects/B9A1-New-Year-New-Mission-main/resources/Rectangle%201.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right 55px;
  display: flex;
}
#discount-50 {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 25px;
}
.seventh {
  width: 76%;
  height: 850px;
  border-radius: 15px;
  margin: 50px auto;
  display: block;
}
.bestgift {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.portfolio {
  font-size: 50px;
}
.portlorem {
  font-size: 20px;
  text-align: left;
  padding-right: 200px;
  color: gray;
}
.picrow1 {
  padding-top: 50px;
}
.productpic {
  width: 350px;
}
.productpic:hover {
  cursor: pointer;
  width: 340px;
  margin: 5px 5px;
}
.eighth {
  width: 73%;
  height: 480px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  background-color: #ffc0cb84;
}
#mail {
  margin-top: 60px;
}
.newsletter {
  font-size: 40px;
}
.lorembottom {
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif, Times,
    serif;
  color: #636060;
  margin: 0 200px;
}
.bar {
  margin: 30px auto;
}
.text {
  width: 350px;
  height: 50px;
  border: none;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.text::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8080807a;
}
.subscribe {
  width: 130px;
  height: 51px;
  border: none;
  background-color: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fff;
  padding-bottom: 5px;
  font-size: 18px;
  letter-spacing: 1px;
}
.subscribe:hover {
  background-color: tomato;
  transition: 0.3s;
  cursor: pointer;
}
.last {
  width: 73%;
  height: 200px;
  background-color: #070211;
  margin: 0 auto;
  padding-top: 100px;
  margin-top: 100px;
}
footer {
  width: 100%;
  height: 480px;
  background-color: #070211;
}
.lasth1 {
  color: white;

  font-size: 20px;
}
.call {
  display: flex;

  color: white;
  font-size: 18px;
}
.web {
  display: flex;
  color: white;
  font-size: 20px;
}
.callweb1 {
  display: inline-block;
  width: 80%;
}
.callweb2 {
  display: inline-block;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 50px;
  margin: 20px 5px;
}
.icon:hover {
  cursor: pointer;
}
.hr {
  background-color: gray;
  border: none;
  height: 0.1px;
}
#unsub {
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #000000;
}
#unsub:hover {
  background-color: #636060;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
